
h2 {    margin: 0;    text-transform: uppercase;    margin-bottom: 15px; font-weight: 600; color: #262626;text-transform: none;    font-size: 26px;}

.bolder-title {
  padding-left: 20px;
}

.bolder-title:before {
    content: " ";
    display: block;
    width: 2px;
    height: 25px;
    background: #fddb81;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
}

.the_form.the_cart_form .ez-selected {

    background-position: 0px -19px;

}

.font-weight-semibold {
  font-weight: 600;
}

.header_1217 *{
  font-family: "Open Sans";
}
.header_1217 .header_toprow{
  padding: 7px 0;
}
.header_1217 .header_toprow_links{
  font-size: 0;
  float: left;
  padding:5px 0;
}
.header_1217 .header_toprow_links li{
    padding: 0 11px;
  display: inline-block;


  font-size: 13px;
}
.header_1217 .header_toprow_links li + li{
  border-left: 2px solid #eaeaea;
}
.header_1217 .header_toprow_links li a{
  color: #358f6c; box-sizing: border-box;    border: 1px solid transparent;
}
.header_1217 .header_toprow_links li a:hover{
  border-bottom: 1px solid;
}
.header_1217 .header_toprow_links li.active{
  padding: 0;
  margin: 0;
  border-left: none;
}
.header_1217 .header_toprow_links li.active + li{
  border-left: none;
}
.header_1217 .header_toprow_links li.active a{
  border:2px solid;
  border-radius:4px;
  padding: 5px 25px;
  text-decoration: none;
  font-weight: bold;
}
.header_1217 .header_top2row {
  background-color: #ffdc77;
  padding: 10px 0;
}
.header_top2row_phone {
  float: right;
  padding-right: 0px;
  padding-top: 15px;
  width: 460px;
    box-sizing: border-box;
    width: 500px;
    flex-basis: 500px;
}
.header_1217 .header_top2row_phone_number{
  font-size: 22px;
  color: #358f6c;
  font-weight: bold;
  margin-right:35px !important;
}
.header_1217 .header_top2row_phone_sub{
  font-size: 13px;
  color: #8c763b;
  text-align: right;
  display:block;
}
.header_top2row_logo{
  float: left;
}
.header_top2row_logo a{
  display: inline-block;
  position: relative;
  color: #000;
  text-decoration: none;
  padding-bottom: 5px;
}
.header_top2row_logo a span {
  position: absolute;
  bottom: 13px;
  left: 65px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto Condensed";
  font-size: 10.1px;
  white-space: nowrap;
}
.header_top2row_phone_number {flex-wrap:wrap;text-align:right;/*flex-basis: 100%;;*/align-items:right;}
.header_top2row_phone_number a{color: #358f6c;text-decoration:none !important;display:block;flex-basis:100%;text-align:right;}
.header_1217 .header_top2row_phone_sub {text-align:right;flex-basis:100%;padding-right: 0px;      margin-right: 0 !important;font-weight: 400;}
.header_top2row_cart {
  float: right;
  padding-left: 20px;
  box-sizing: border-box;
}
.header_1217 .head_cart {
  position: static;
  width: initial;
  right: initial;
  top: initial;
}
.header_searchrow{
  background-color: #56a988;
  padding: 8px 0;
}
.header_searchrow .container {
  position: relative;
  width: 950px;
}
.header_searchrow input.msearch{
  width: 100%;
  background-color: #479173;
  border-radius:3px;
  padding: 10.5px 17px;
  color: #a1e2c8;
  border:none;
  font-size: 13px;
  font-weight: 600;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header_searchrow input.msearch::-webkit-input-placeholder {
  color: #a1e2c8;
}
.header_searchrow input.msearch::-moz-placeholder {
  color: #a1e2c8;
}
.header_searchrow input.msearch:-ms-input-placeholder {
  color: #a1e2c8;
}
.header_searchrow input.msearch:-moz-placeholder {
  color: #a1e2c8;
}

.social-icons, .social-icons i {
        font-family: "Font Awesome 5 Brands";
}

.header-card-wrap {flex-basis:216px;}


.header_cart{
  display: flex;
  align-items: center;
  padding: 17px 35px 17px 20px;
  background-color: #fff;
  border-radius:3px;
  font-size:0;
  position:relative;
}

.header_cart:before{
    content:"";
    display:block;
  position: relative;
  padding-right: 20px;
  margin-right:20px;
  height: 36px;
  width: 40px;
  background-color: #fedb80;
  background-image: url('images/header_cart_icon.png');
  background-size: 20px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius:6px;
}
.header_cart .icon .header_cart_icon span{
  position: absolute;
  color: #fff;
  background-color: #f87b50;
  border-radius:10px;
  font-size: 9px;
  font-weight: 600;
  padding: 2px 4px;
  top:-4px;
  right: -8px;
}
.header_cart h5{
  color: #4b9578;
  border-bottom: 1px dotted;
  margin-bottom: 5px;
  font-weight: bold;
  display:inline-block;
  font-size: 14px;
}
.header_cart .info .total{
  font-size: 13px;
  white-space: nowrap;
}

.header_cart .ms2_total_count {    position: absolute;
    color: #fff;
    background-color: #f87b50;
    border-radius: 10px;
    font-size: 9px;
    font-weight: 600;
    padding: 2px 4px;
    top: 11px;
    left: 53px;
    text-align: center;
    min-width: 14px;

}

.header_cart .ms2_total_cost {font-size: 13px;    white-space: nowrap;font-weight:normal;}
.header_cart .ms2_total_cost:after {content:"руб.";display:inline-block;margin-left:5px;}
.header-search i {font-family: "Font Awesome 5 Free";}

.header_searchrow input.msearch{
  width: 100%;
  background-color: #479173;
  border-radius:3px;
  padding: 10.5px 17px;
  color: #a1e2c8;
  border:none;
  font-size: 13px;
  font-weight: 600;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-search input[type="text"]::-webkit-input-placeholder {
  color: #a1e2c8;
}
.header-search input[type="text"]::-moz-placeholder {
  color: #a1e2c8;
}
.header-search input[type="text"]:focus::-webkit-input-placeholder {
  color: #000;
}
.header-search input[type="text"]:focus::-moz-placeholder {
  color: #000;
}




.hmdc_mainlinks {margin-bottom:0px;margin-right: 0;    background-color: #fafafa;position: relative;    z-index: 1000;box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);}
.hmdc_mainlinks a {font-size: 14px;    line-height: 20px;    color: #111111;    font-weight: normal;padding-left:40px;padding-top: 10px;    padding-bottom: 10px;font-weight: 600;
padding-top: 9px;    padding-bottom: 9.3px;text-decoration:none;}
.hmdc_mainlinks li:hover a {color:#e3ce78;}
.hmdc_mainlinks li:nth-child(1) a {background:url(../img/li1.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(2) a {background:url(../img/li2.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(3) a {background:url(../img/li3.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(4) a {background:url(../img/li4.png) no-repeat 12px center;}
 .hmdc_mainlinks li:nth-child(5) a {background:url(../img/li5.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(6) a {background:url(../img/li6.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(7) a {background:url(../img/li7.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(8) a {background:url(../img/li8.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(9) a {background:url(../img/li9.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(10) a {background:url(../img/li10.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(11) a {background:url(../img/li11.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(12) a {background:url(../img/li12.png) no-repeat 12px center;}
.hmdc_mainlinks li:nth-child(13) a {background:url(../img/li13.png) no-repeat 12px center;}

.hmdc_mainlinks li:hover:nth-child(1) a {background:url(../img/li1h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(2) a {background:url(../img/li2h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(3) a {background:url(../img/li3h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(4) a {background:url(../img/li4h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(5) a {background:url(../img/li5h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(6) a {background:url(../img/li6h.png) no-repeat 12px center;}
 .hmdc_mainlinks li:hover:nth-child(7) a {background:url(../img/li7h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(8) a {background:url(../img/li8h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(9) a {background:url(../img/li9h.png) no-repeat 12px center;}
 .hmdc_mainlinks li:hover:nth-child(10) a {background:url(../img/li10h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(11) a {background:url(../img/li11h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(12) a {background:url(../img/li12h.png) no-repeat 12px center;}
.hmdc_mainlinks li:hover:nth-child(13) a {background:url(../img/li13h.png) no-repeat 12px center;}

.hmdc_mainlinks li.active:nth-child(1) a {background:url(../img/li1h.png) no-repeat 12px center;}
 .hmdc_mainlinks li.active:nth-child(2) a {background:url(../img/li2h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(3) a {background:url(../img/li3h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(4) a {background:url(../img/li4h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(5) a {background:url(../img/li5h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(6) a {background:url(../img/li6h.png) no-repeat 12px center;}
 .hmdc_mainlinks li.active:nth-child(7) a {background:url(../img/li7h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(8) a {background:url(../img/li8h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(9) a {background:url(../img/li9h.png) no-repeat 12px center;}
 .hmdc_mainlinks li.active:nth-child(10) a {background:url(../img/li10h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(11) a {background:url(../img/li11h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(12) a {background:url(../img/li12h.png) no-repeat 12px center;}
.hmdc_mainlinks li.active:nth-child(13) a {background:url(../img/li13h.png) no-repeat 12px center;}

 .hmdc_mainlinks li {background:none;position:relative;    padding-left: 0;padding-top: 7px;    padding-bottom: 7px;}
 .hmdc_mainlinks li:hover {background:url(../img/left_menu_active.png) no-repeat center center;background-size:100% 100%;}
.hmdc_mainlinks li:after {content:" ";display:block;background:url(../img/left_menu_arrow1.png) no-repeat center center;width:5px;height:6px;position:absolute;right:10px;top:50%;
margin-top:-3px;z-index:3;}
.hmdc_mainlinks li:hover:after {background-image:url(../img/left_menu_arrow1h.png);}
 .hmdc_mainlinks li.active:after {background-image:url(../img/left_menu_arrow1h.png);}


#slider .carousel-control-next,#slider .carousel-control-prev {
	position:absolute;
	top:32px;
	left:auto;
	right:182px;
	width:24px;
	height:43px;
	display:block;
	z-index:105;
}
#slider .carousel-control-next {
	top:32px;
	right:5px;
}
.carousel-control-prev-icon {background:url(../img/sl_left.png) no-repeat center center;}
.carousel-control-next-icon {background:url(../img/sl_right.png) no-repeat center center;}
.carousel-indicators {
	position:absolute;
	top:20px;
	right:5px;
	width:200px;
	height: 44px;
	z-index:100;
	text-align:center;
	background:rgba(68,148,118,0.80);
	padding:15px 25px;
	left: auto;
	margin:0;
}
.carousel-indicators li {
	display:inline-block;
	margin:0 5px;
	list-style:none;
	vertical-align:middle;
	display:block;
	width:14px !important;
	height:14px !important;
	border-radius:50%;
	    flex-basis: 14px !important;
	background:#fff;
	font-size:0;
	border:0;
}
.carousel-indicators li a {
	display:block;
	width:14px !important;
	height:14px !important;
	border-radius:50%;
	background:#fff;
	font-size:0;
}
.carousel-indicators li.active a {
	background:#ffd96e;
}


.catalog_0718 .prod_item{
  padding: 20px;
  border:1px solid #eaeaea;
  font-size: 14px;
  margin: 0 -1px 0;
  position: relative;
  display: flex;
  flex-wrap:wrap;
  height: 100%;
}
.catalog_0718 .prod_item > form {position: relative;
  display: flex;
  flex-wrap:wrap;
  height: 100%;}
.catalog_0718 .prod_item span{
  padding-left: 0;
}


.catalog_0718 .prod_item > .subtitle{
  flex-basis: 100%;
  color: #999;
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 1.5em;
  max-height: 3.9em;
  overflow: hidden;
  position: relative;
}
.catalog_0718 .prod_item > .subtitle:after{
  content: '';
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 100%);
  height: 0.9em;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.catalog_0718 .prod_item .price{
  color: #5ca98a;
  font-weight: 600;
}
.catalog_0718 .prod_item .price .value{
  font-size: 24px;
  vertical-align: baseline;
  display: inline-block;
}
.catalog_0718 .prod_item .price .cur{
  font-size: 14px;
  vertical-align: baseline;
  display: inline-block;
}
.catalog_0718 .prod_item .hidden .price{
  margin: 15px 0;
}
.catalog_0718 .input_count_btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.catalog_0718 .tocart{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  background-color: #fafafa;
  padding: 4px 6px;
  margin: 12px -6px 0;
}
.catalog_0718 .add_to_cart {
	flex-basis: 59%;
	background-color: #5ca98a;
	color: #fff;
	border: none;
	border-radius: 3px;
	text-align: center;
	padding: 10px 0;
	text-transform: uppercase;
	cursor: pointer;
}
.catalog_0718 .input_count{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
	align-content: stretch;
  flex-basis: 38%;
  border-radius:3px;
  border:1px solid #eaeaea;
  position: relative;
  overflow: hidden;
}
.catalog_0718 .input_count input{
  width: 100%;
  position: absolute;
  height: 100%;
  border:none;
  text-align: center;
  font-weight: 600;
  color: #999;
  font-size: inherit;
  padding-left: 12px;
}
.catalog_0718 .input_count .input_count_btn {
	position: relative;
	z-index: 10;
	width: 20px;
	text-align: center;
	line-height: 37px;
	font-size: 16px;
	color: #5ca98a;
	font-weight: 600;
	cursor: pointer;
	background-color: #fff;
}
.catalog_0718 .input_count .input_count_btn:hover{
  background-color: #f1faf6;
}
.catalog_0718 .prod_item .pricetable .item{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  padding: 2px 0;
}
.catalog_0718 .prod_item .pricetable{
  font-weight: 600;
}
.catalog_0718 .prod_item .pricetable .item .title{
  color: #9c9c9c;
}
.catalog_0718 .prod_item .pricetable .item .value{
  color: #5ca98a;
}
.catalog_0718 .prod_item .pricetable .pricetable_sp{
  background-color: #f1faf6;
  padding: 10px 20px;
  margin: 0 -20px;
}
.catalog_0718 .prod_item .pricetable .pricetable_ds{
  background-color: #fffaf5;
  padding: 10px 20px;
  margin: 0 -20px 12px;
}
.catalog_0718 .prod_item > .title,
.catalog_0718 .prod_item .hidden > a > .title{
  font-weight: 600;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}
.catalog_0718 .prod_item > .title{
  margin-top: 12px;
}
.catalog_0718 .prod_item .hidden > a{
  display: block;
}
.catalog_0718 .prod_item .hidden > a > .title{
  display: inline;
}
.catalog_0718 .prod_item .hidden > a:hover > .title{
  border-bottom: 1px solid #000;
}
.catalog_0718 .prod_item .hidden{
  top:-1px;
  left: -1px;
  width: 100%;
  width: calc(100% + 2px);
  position: absolute;
    padding: 20px;
  border-radius: 3px;
	font-size: 14px;
  border:1px solid #eaeaea;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	z-index: 20;
	opacity: 0;
	transition: all 0.3s;
	/*top: 10px;*/
}
.catalog_0718 .prod_item:hover{
  border:1px solid transparent;
}
.catalog_0718 .prod_item:hover .hidden{
  opacity: 1;
  top:-1px;
	visibility: visible;
}
.catalog_0718 .prod_item .tag_hit,
.catalog_0718 .prod_item .tag_novinka,
.catalog_0718 .prod_item .tag_rasprodazha{
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius:0 4px 4px 0;
  color: #fff;
  font-weight: 600;
  top: 16px;
	left: 11px;
}
.catalog_0718 .prod_item .tag_hit{
  background: linear-gradient(to right, rgba(187,46,28,1) 0%,rgba(248,73,46,1) 25%);
}
.catalog_0718 .prod_item .tag_novinka{
  background: linear-gradient(to right, rgba(110,115,225,1) 0%,rgba(141,146,243,1) 25%);
}
.catalog_0718 .prod_item .tag_rasprodazha{
  background: linear-gradient(to right, rgba(232,142,52,1) 0%,rgba(255,172,68,1) 25%);
}
.catalog_0718 .prod_item .tag_hit:before,
.catalog_0718 .prod_item .tag_novinka:before,
.catalog_0718 .prod_item .tag_rasprodazha:before{
  content: '';
  position: absolute;
  width: 2px;
  top:-5px;
  left: -1px;
  height: calc(100% + 10px);
  background-color: #ccc;
}
.catalog_0718 .prod_item .tag_hit:before{
  background-color: #6c2317;
}
.catalog_0718 .prod_item .tag_novinka:before{
  background-color: #5e63c2;
}
.catalog_0718 .prod_item .tag_rasprodazha:before{
  background-color: #ca842c;
}
.catalog_0718 .prod_item.banner{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
  border: 1px solid #eaeaea !important;
}
.catalog_0718 .prod_item .exists{
  margin-bottom: 4px;
}
.catalog_0718 .prod_item .exists .exists_true,
.catalog_0718 .prod_item .exists .exists_false{
  display: none;
  position: relative;
  padding-left: 20px;
}
.catalog_0718 .prod_item .exists.exists_ .exists_true,
.catalog_0718 .prod_item .exists.exists_1 .exists_false{
  display: block;
  color: #9e9e9e;
  font-size: 13px;
}
.catalog_0718 .prod_item .exists.exists_ .exists_true:before {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #e8d680;
    border-radius: 100%;
    top: 3px;
    left: 0;
}
.catalog_0718 .prod_item .exists.exists_1 .exists_false:before {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
    background-color: #e88080;
    border-radius: 100%;
    top: 3px;
    left: 0;
}



.secrets_ul_block {clear:both;font-size:0;}
.secrets_section h2 {margin: 0;    margin-bottom: 15px;    font-weight: 600;    color: #262626;     font-size: 1.17em;   text-transform: uppercase;    color: #449476;}
.secrets_ul {display:inline-block;vertical-align:top;font-size:13px;list-style:none;}
.secrets_ul li {margin:0 0 35px 0 !important;padding:0;}
.secrets_ul li:before {display:none;}
 .secrets_ul li .icon {text-align:center;background:#fff;width:51px;height:51px;border:1px solid #f0f0f0;border-radius:7px;position:relative;margin-right:19px;display:inline-block;
vertical-align:top;}
.secrets_ul li .icon:before {content:" ";display:inline-block;vertical-align:middle;height:100%;width:0px;}
.secrets_ul li .icon img {display:inline-block;vertical-align:middle;max-width:100%;}
.secrets_ul li p {display:inline-block;vertical-align:top;width:275px;max-width:100%;font-weight:600;font-size:13px;color:#2c2c2c;margin:0;padding:0;line-height: 18px !important;}
.secrets_ul li p a {line-height:inherit;}

.secrets_section {background: #f7f7f7;padding:40px 0;    position: relative;    z-index: 500;}


.delivery-container {
	display: flex;
	margin-bottom: 70px;
	margin-top: 50px;
}

.delivery-col {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 5px 50px 30px;
    border: 1px solid #dddddd;
    position: relative;
}

.delivery-col:before {
    content: "";
    background-image: url(../img/delivery/el.png);
    width: 38px;
    height: 13px;
    left: -7px;
    top: 40px;
    position: absolute;
}

.delivery-col.col-even {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-left: none;
}

.delivery-col.col-odd {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.delivery-title {
	font-weight: bold;
	font-size: 24px;
}

.delivery-content {
	font-size: 13px;
	font-weight: 600;
}

.delivery-col ul li{
	list-style: none;
	font-size: 14px;
	font-weight: 600;
}

.delivery-col ul li .green {
	color: #408f70;
}

.delivery-col ul li::before {
    background-color: #408f70;
    border-radius: 50%;
}

.delivery-carousel {
	height: 50px;
	display: flex;
	justify-content: space-between;
}

.delivery-logo {
	width: 18%;
	background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 5px #dddddd;
}

.delivery-button {
	font-size: 15px;
	color: #ffffff;
	font-weight: bold;
	background-color: #408f70;
	border-radius: 5px;
	padding: 12px 10px;
	margin-top: 30px;
    display: inline-block;
}




.grid_item_style_2 {border:0;box-shadow:none;padding:15px 4px;}
.grid_item_style_2 .grid_item_style_2_bg {position:relative;border-radius:7px;height:192px;margin:0 auto 15px;}
.grid_item_style_2 .grid_item_style_2_bg.youtube_icon:after {content:" ";display:block;position:absolute;top:15px;left:15px;z-index:3;width:114px;height:27px;
background:url(../img/youtube_icon.png) no-repeat 0 0;}
.grid_item_style_2 .grid_item_style_2_date_wr {margin:0 0 12px 0;padding:0 0 0 28px;background:url(../img/date_icon1.png) no-repeat 0px center;float:none;clear:both;
font-weight:600;font-size:12px;color:#a9a9a9;width:auto;height:auto;text-align:left;}
.grid_item_style_2 .grid_item_style_2_date_wr .grid_item_style_2_date {background-color: transparent;color: inherit;padding: 0;text-align: left;display: block;font-size: inherit;}
.grid_item_style_2 .grid_item_style_2_info {margin-bottom:10px;}
.grid_item_style_2 .grid_item_style_2_title {margin:0;display:block;font-weight:600;font-size:16px;color:#1e1e1e;line-height:26px;padding:0 25px 12px 0;}
.grid_item_style_2 .grid_item_style_2_intro {margin:0;display:block;font-weight:400;font-size:13px;color:#1e1e1e;line-height:18px;padding:0 0 7px 0;}
.grid_item_style_2 .news_item_more {display:block;font-weight:600;font-size:15px;color:#3a9956;width:auto;height:auto;text-decoration:underline;background:none;text-align: left;}
.grid_item_style_2 .news_item_more:hover {width:auto;height:auto;text-decoration:none;background:none;}

.header-column .btn i {font-family: "Font Awesome 5 Free";color:#3c9e79;font-size: 20px;    margin-right: 10px !important;    vertical-align: middle;}

/**/

.news-card-item {}
.news-card-item .img {position: relative;    border-radius: 7px;    height: 192px;    margin: 0 auto 15px;overflow:hidden;}
.news-card-item .img img {display:block;}
.news-card-item .card-body {    padding: 0;}
.news-card-item .card-date {margin: 0 0 12px 0;    padding: 0 0 0 0px;    /*background: url(../img/date_icon1.png) no-repeat 0px center;*/    float: none;
clear: both;    font-weight: 600;    font-size: 12px;    color: #a9a9a9;    width: auto;    height: auto;    text-align: left;}
.news-card-item .card-title {margin: 0;    display: block;    font-weight: 600;    font-size: 16px;    color: #1e1e1e;    line-height: 26px;    padding: 0 25px 12px 0;}
.news-card-item .card-text {margin: 0;    display: block;    font-weight: 400;    font-size: 13px;    color: #1e1e1e;    line-height: 18px;    padding: 0 0 7px 0;margin-bottom: 10px;}
.news-card-item .card-link {display: block;font-weight: 600;font-size: 15px;color: #3a9956;width: auto;height: auto;text-decoration: underline; background: none;text-align: left;}

.header-column .btn.btn-catalog {margin-right: 0px;padding: 20px 27px 20px 24px;line-height: 20px;text-transform: uppercase;background-color: #3b7a61;color: #fff;font-size: 15px;border: 0;
outline:none;border-radius: 0px;}
.header-column button {margin-right:22px;padding: .57rem .75rem;}
.header-column .badge {padding: .25em .65em;text-transform:uppercase;}
.header-links li a {font-weight:600;text-align: right; font-size: 15px; padding-right: 0;}

.action-section {}
.action-section h2 {padding-top: 25px;}
.catalog-section-head {margin-bottom: 10px;    background: url(../img/grey_line.png) repeat-x 0 center;}
.catalog-section-head h2 {background:#fff;display:inline-block;padding:0 15px;margin-bottom: 0;}

.footer-top {}
.footer-middle {}
.footer-bottom {}
.footer_opto {}
.footer_opto_copy {font-size:14px;color: #8f8f8f;}
.footer-top ul li a {    color: #c6c6c6 !important;margin-bottom:3px;display: block;}
.footer-top ul li a:hover {color: #ffc44a;}
.footer-top .h6 {font-size: 19px !important;   font-weight: 300;border-bottom: 1px solid #353535;padding-bottom: 14px;}
.footer-middle .h6 {font-size:14px;}
.footer-middle a {color:#fff;}
.social-labels {}
.social-labels a {line-height:23px;display:inline-block;margin-right:13px;padding:0 11px;color:#fff;text-transform:uppercase;}
.social-labels .footer_social_vk {background:#3e78af;}
.social-labels .footer_social_yt {background:#c8354a;}

.product-hidden .text-color-default {}
.product-hidden .price {font-size: 14px;}
.product-hidden .list-group-item {background:none !important;border:0;}
.product-hidden .list-group-item-success {background-color: #f1faf6 !important;}
.product-hidden .title {  color: #404040;}
.product-hidden .title a {color: #404040;}

.pagination .page-item + .page-item.active .page-link {
    background: #2388ED;
}

/*breadcramb*/

.breadcramb {
    font-size: 12px;
}

.breadcramb a {
    color: #000;
}

.breadcrumb-item.active {
    color: #509579;
}

/*nav category*/

.nav.category {
    background: #fafafa;
}

.nav.category a {
    font-size:14px;
}

/*pagination*/

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #5ca98a;
    border-color: #5ca98a;
}

.pagination .page-item + .page-item.active .page-link {
    background: #5ca98a;
    width: 36px;
    height: 36px;
    line-height: 20px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.pagination .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 5px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: unset;
}

/*catalog*/

#mse2_mfilter .product-hidden.hidden {
    display: unset;
}

/*tabs*/

.nav-tabs-outer {
    border-bottom: 1px solid #dee2e6;
    background-color: #fafafa;
    border-top: 2px solid #eaeaea;
}

.nav-tabs {
    background-color: #fafafa;
}


.nav-tabs .nav-link {
    border: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.nav-tabs a {
    color: #7d7d7d;
    padding: 20px 20px;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    color: #7d7d7d;
    font-weight: 600;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #5ca98a;
    background-color: unset;
    border-color: unset;
    padding: 20px 20px;
    border-bottom: 3px solid #5ca98a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.list-cart-price {
    font-size: 14px;
}

.list-cart-price .list-group-item:first-child {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.list-cart-price .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}

.list-cart-price li:nth-child(2n+1) {
    background-color: #f6f6f6;
}

.list-cart-price li:nth-child(2n) {
    background-color: #fafafa;
}

.list-group-item {
    border: unset;
}

#msProduct label {
    font-size: 13px;
}

/*card*/

.the_cart_list_head {

    padding: 10px 0px;
    background: #fafafa;

}

.the_cart_list_head p {

    display: block;
    float: left;
    font-size: 11px;
    color: #989898;
    font-weight: 600;
    padding: 0 0 0 0;
    line-height: 20px;
    min-height: 20px;
    transition: all 0.4s;
    max-width: 100%;
    box-sizing: border-box;

}

.cart_list_title a {
  font-size: 14px;
}

.cart_price_wrap, .cart_sum_wrap {
  font-size: 18px;
  font-weight: 600;
}

.btn-remove {
  width: 40px;
  height: 40px;
  line-height: 0px;
}

.btn-remove i {
  font-size: 10px;
}

.btn-remove:hover {
  background: #56a988;
}

.btn-remove:hover i {
  color: #fff;
}

#street .form-group label {
  font-size: 16px;
}

.form-group label {
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

#msOrder .required-star {
    display: none;
    color: #dc3545 !important;
}

input.form-control {
  background: #f6f6f6;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 13px;
}

input.form-control.form-control-lg {
  height: 44px;
}

textarea.form-control {
  background: #f6f6f6;
  padding-top: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 13px;
  height: 170px;
}

.form-group .checkbox label span {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #5e5e5e;
    margin-top: -4px;
    margin-left: 10px;
}

.form-group .checkbox label b{
  font-size: 15px;
  color: #5ca98a;
}

.form-group .checkbox label span i {
  font-weight: 600;
  font-size: 13px;
  color: #000000;
  font-style: normal;
  display: block;
  padding: 0 0 2px 0;
}

.qty_wrap input.form-control {
  font-size: 16px;
}

.the_cart_form_block_submit .ez-checkbox {
    background: url(../img/checkbox.png) 0 0px no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 0px;
    margin-right: 10px;
    vertical-align: middle;
    background-position: 0px 0px;
}

.qty_wrap span {
  position: absolute;
}

.qty_wrap span:hover {
  cursor: pointer;
  color:#dc3545;
}

.qty_wrap span:hover i {
  color:#dc3545;
}

.qty_wrap span.minus {
  left: 25px;
}

.qty_wrap span.plus {
  right: 60px;
}

.qty_wrap span i {
  font-size: 12px;
  color: #56a988;
}

.the_cart_list_total .total_sum p {
    font-size: 14px;
    color: #7e7e7e;
    font-weight: 600;
}

.the_cart_list_total .total_sum p span{
    color: #000;
}

.policy span  {
  font-size: 13px;
  font-weight: 600;
}

.policy span a  {
  color: #5ca98a
}
