/*
Navigations
*/

.nav {
  .level {
    &.hover-bg-danger {
      &:hover {
        background-color: $danger !important;
        .icon {
          &.icon-shape {
            background-color: $white;
          }
          .svg-icon.svg-icon-white {
            fill: $danger !important;
          }
        }
      }
    }
    &.nav-promo {
      a {
        color: $white !important;
      }
    }

    @include media-breakpoint-up(xl) {
      &.nav-promo {
        a {
          color: $danger !important;
        }
      }
    }
  }
  &.nav-link-lg {
    .nav-item {
      .nav-link {
        font-size: 0.9375rem;
        font-weight: bold;
      }
    }
  }
  &.nav-link-light {
    .nav-item {
      .nav-link {
        color: $white !important;
      }
    }
  }
}

.section-tabs {
  .nav-tabs {
    .nav-link {
      &.active {
      box-shadow: $box-shadow-sm;
      }
    }
  }
}